@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* leaflet */
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-theme="light"] {
  --ql-fill-color: black;
  --ql-bg: #f6f6f6;
  --ql-color: #06c;
}

html[data-theme="dark"] {
  --ql-fill-color: white;
  --ql-bg: #222;
  --ql-color: #ffb60a;
}

body {
  font-size: 14px;
  line-height: 20px;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}

@layer components {
  .nav-link {
    @apply relative text-sm font-medium tracking-wide before:absolute before:-bottom-1 before:left-0 before:h-[2px] before:w-0 before:origin-left before:rounded before:bg-primary before:transition-all before:duration-500 before:ease-out before:content-[''] hover:before:w-full dark:before:bg-secondary sm:text-base;
  }
  .select {
    @apply relative m-0 -mr-0.5 block w-[1px] min-w-0 flex-auto rounded border border-solid border-prim-light bg-light bg-clip-padding px-3 py-1 text-base font-normal leading-[1.6] text-black outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-black focus:shadow-prim-light focus:outline-none dark:border-sec-light dark:bg-dark dark:text-white dark:placeholder:text-white dark:focus:border-secondary focus:dark:text-white dark:focus:shadow-sec-light;
  }
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply -translate-y-1/2 text-base font-bold text-primary dark:bg-dark dark:text-secondary;
}

/* active nav link */
li a.active::before {
  width: 100%;
}

/* border toolbar */
.ql-toolbar.ql-snow {
  border-color: inherit;
}

.ql-snow .ql-fill {
  fill: var(--ql-fill-color);
}

.ql-snow .ql-stroke {
  stroke: var(--ql-fill-color);
}

.ql-snow .ql-picker {
  color: var(--ql-fill-color);
}

.ql-snow .ql-picker-options {
  background-color: var(--ql-bg);
}

.ql-snow .ql-tooltip {
  color: var(--ql-fill-color);
  background-color: var(--ql-bg);
  transform: translateX(80px) translateY(10px);
}

.ql-snow a.ql-action {
  color: var(--ql-color);
}

/* default container */
.ql-container.ql-snow {
  font-family: "Roboto", sans-serif;
  min-height: 100px;
  border-color: inherit;
}

.ql-picker.ql-font .ql-picker-label[data-value="Roboto"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Roboto"]::before {
  font-family: "Roboto", sans-serif;
  content: "Roboto" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Lexend"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Lexend"]::before {
  font-family: "Lexend", sans-serif;
  content: "Lexend" !important;
}

.ql-font-Roboto {
  font-family: "Roboto", sans-serif;
}
.ql-font-Lexend {
  font-family: "Lexend", sans-serif;
}
