@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cascadia-code");

/* leaflet */
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-theme="light"] {
  --ql-fill-color: #202020;
  --ql-bg: #f6f6f6;
  --ql-color: #52aa5e;
  --active-img: #000;
}

html[data-theme="dark"] {
  --ql-fill-color: white;
  --ql-bg: #222;
  --ql-color: #79b473;
  --active-img: white;
}

body {
  font-size: 14px;
  line-height: 20px;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

body.drawer-open {
  height: 100dvh;
  overflow: hidden;
}

@layer components {
  .nav-link {
    @apply relative text-sm font-medium tracking-wide before:absolute before:-bottom-1 before:left-0 before:h-[2px] before:w-0 before:origin-left before:rounded before:bg-primary before:transition-all before:duration-500 before:ease-out before:content-[''] hover:before:w-full group-hover:before:w-full dark:before:bg-secondary sm:text-base;
  }
  .user-item {
    @apply flex items-center justify-start gap-2 font-lexend text-base font-medium transition-colors duration-200 hover:text-primary dark:hover:text-secondary;
  }
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply -translate-y-1/2 text-base font-bold text-primary dark:bg-dark dark:text-secondary;
}

/* active nav link */
li a.active::before {
  width: 100%;
}

li ul li a.active {
  color: var(--ql-color);
}

a.active button.chakra-button {
  color: var(--ql-color);
}

/* border toolbar */
.ql-toolbar.ql-snow {
  border-color: inherit;
}

.ql-snow .ql-fill {
  fill: var(--ql-fill-color);
}

.ql-snow .ql-stroke {
  stroke: var(--ql-fill-color);
}

.ql-snow .ql-picker {
  color: var(--ql-fill-color);
}

.ql-snow .ql-picker-options {
  background-color: var(--ql-bg);
}

.ql-snow .ql-tooltip {
  color: var(--ql-fill-color);
  background-color: var(--ql-bg);
  transform: translateX(80px) translateY(10px);
}

.ql-snow a {
  color: var(--ql-color);
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: var(--ql-color);
}

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: var(--ql-color);
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--ql-color);
}

/* default container */
.ql-container.ql-snow {
  font-family: "Roboto", sans-serif;
  min-height: 100px;
  border-color: inherit;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  color: var(--ql-color);
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  max-height: 280px;
  overflow: auto;
}

.ql-picker.ql-font .ql-picker-label[data-value="Roboto"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Roboto"]::before {
  font-family: "Roboto", sans-serif;
  content: "Roboto" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Lexend"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Lexend"]::before {
  font-family: "Lexend", sans-serif;
  content: "Lexend" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Montserrat"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Montserrat"]::before {
  font-family: "Montserrat", sans-serif;
  content: "Montserrat" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Oswald"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Oswald"]::before {
  font-family: "Oswald", sans-serif;
  content: "Oswald" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Playfair"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Playfair"]::before {
  font-family: "Playfair Display", serif;
  content: "Playfair Display" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Open"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Open"]::before {
  font-family: "Open Sans", sans-serif;
  content: "Open Sans" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Inter"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Inter"]::before {
  font-family: "Inter", sans-serif;
  content: "Inter" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Alegreya"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Alegreya"]::before {
  font-family: "Alegreya", serif;
  content: "Alegreya" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Rale"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Rale"]::before {
  font-family: "Raleway", sans-serif;
  content: "Raleway" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Merri"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Merri"]::before {
  font-family: "Merriweather", serif;
  content: "Merriweather" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Cas"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Cas"]::before {
  font-family: "Cascadia Code", sans-serif;
  content: "Cascadia" !important;
}

.ql-font-Cas {
  font-family: "Cascadia Code", sans-serif;
}

.ql-font-Merri {
  font-family: "Merriweather", serif;
}

.ql-font-Rale {
  font-family: "Raleway", sans-serif;
}

.ql-font-Alegreya {
  font-family: "Alegreya", serif;
}

.ql-font-Roboto {
  font-family: "Roboto", sans-serif;
}

.ql-font-Lexend {
  font-family: "Lexend", sans-serif;
}

.ql-font-Montserrat {
  font-family: "Montserrat", sans-serif;
}

.ql-font-Playfair {
  font-family: "Playfair Display", serif;
}

.ql-font-Oswald {
  font-family: "Oswald", sans-serif;
}

.ql-font-Open {
  font-family: "Open Sans", sans-serif;
}

.ql-font-Inter {
  font-family: "Inter", sans-serif;
}

/* react slick custom dots */
ul.slick-dots {
  padding-bottom: 30px;
  position: relative;
  bottom: -10px;
}

ul.slick-dots li {
  margin: 0 2px;
  width: 40px;
  height: 40px;
}

ul.slick-dots li.slick-active img {
  border: 2px solid var(--ql-color);
  filter: grayscale(0);
}

ul.slick-dots li.slick-active div#video-thumbnail {
  border: 2px solid var(--ql-color);
}

/* modal z */
.chakra-modal__content-container:has(.modal-media) {
  z-index: 12000 !important;
}

.slider-mobile .chakra-aspect-ratio::before {
  padding-bottom: 100% !important;
}

/* marker li */
ul.contacts li::marker {
  color: var(--ql-color);
}

/* map picker control searchbar */
.leaflet-control-geosearch.leaflet-geosearch-bar form input.glass,
.leaflet-control-geosearch.leaflet-geosearch-bar form div.results {
  color: black;
  background-color: inherit;
}

div.content-render.detail img {
  min-width: 100%;
}
